@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
 font-family: "Kanyon-Light";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/Kanyon-Light.woff") format("woff");
 font-display: swap;
}
@font-face {
  font-family: "Kanyon-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Kanyon-Regular.woff") format("woff");
  font-display: swap;
 }

:root {
  --text-section-description: 20px;
  --text-em: 16px;
  --text-320-title: 42px;
  --text-title: 46px;
  --text-em-2: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Kanyon-Light';
  font-size: var(--text-section-description);
  font-weight: 400;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.main-container,
.footer-container,
.home-container {
  margin: 0 auto;
  padding-left: 10px;
}

.header-container {
  margin: 0 auto;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #2f3239;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  width: 200px;
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  z-index: 2;
  height: 60px;
}

.nav-link,
.footer-link {
  text-decoration: none;
  color: #ffffff;
}

.nav-link {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 100%;
  padding: 20px 7px;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
}

.nav-item:first-child {
  background-color: #78418c;
}

.nav-item:nth-child(2) {
  background-color: #3bc9ab;
}

.nav-item:nth-child(3) {
  background-color: #DFAB0F;
}

.nav-item:nth-child(4) {
  background-color: #7E9799;
}

.nav-item:nth-child(5) {
  background-color: #c9643b;
}

.nav-item:nth-child(6) {
  background-color: #c11771;
}

.nav-item:nth-child(7) {
  background-color: #c93b59;
}

.nav-item:nth-child(8) {
  background-color: #3b59c9;
}

.background-header {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #3b59c9;
  z-index: 1;
  width: 50%;
  height: 60px;
}

.active {
  height: 70px;
}

.nav-item:hover {
  cursor: pointer;
  height: 70px;
}

section {
  padding: 80px 0;
  max-width: 980px;
  display: flex;
  column-gap: 10px;
  margin: 0 auto;
}

.left-container {
  width: 36%;
}

.right-container {
  width: 64%;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 700;
  color: #2f3239;
}

h1 {
  font-size: 50px;
}

.background-main {
  background-color: #f9f9f9;
}

.about-info__title{
  font-family: sacramento, cursive;
  font-weight: 400;
  font-size: 32px;
}

.about-info,
.expirience-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: var(--text-section-description);
  text-indent: 5px;
}

address {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.text-bold  {
  font-weight: 600;
}

.achievements {
  display: flex;
  column-gap: 20px;
}

.counter {
  font-size: 56px;
  color: #ff971a;
  line-height: 62px;
}

.expirience-progress {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
}

.img-stack:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.text-stack:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.progress-right {
  width: 100%;
  display: flex;
  justify-content: start;
  row-gap: 20px;
  flex-wrap: wrap;
  column-gap: 30px;
}

.container-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.text-stack {
  font-size: var(--text-section-description);
  font-weight: 500;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.img-stack {
  max-width: 50px;
  max-height: 50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.title-stack {
  font-size: var(--text-section-description);
  text-indent: 5px;
}

.expirience-info.h4 {
  font-size: 24px;
}

.footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #2f3239;
}

.footer-container {
  color: #ffffff;
}

.footer-link:hover,
.links:hover {
  color: #f26522;
  position: relative;
}

.footer-link::before,
.links::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background-color: rgba(255, 79, 0, 0.7);
}

.footer-link:hover:before,
.links:hover:before {
	width: 100%;
}

.footer-link::before,
.links::before {
  transition: width 0.35s;
  -webkit-transition: width 0.35s;
  -moz-transition: width 0.35s;
}

.links {
  color:  #2f3239;
  position: relative;
}

.resume-link {
  text-decoration: line-through;
}


.languages {
  display: flex;
  column-gap: 20px;
}

.infographic {
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  font-size: 36px;
}

.infographic-percent {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #FFA547;
}

.infographic-percent:hover {
  transform: scale(0.95);
}

.infographic-title {
  font-size: var(--text-section-description);
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 10px;
}

.infographic:nth-child(2) .infographic-percent {
  background-color:#ff6347;
}

pre {
  position: relative;
  border-radius: 7px;
  padding: 20px;
  background-color: rgba(201, 100, 59, 0.1);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: #2f3239;
  font-size: var(--text-em);
}

.select-all {
  padding: 7px 20px;
  border: none;
  background-color: rgba(201, 100, 59, 0.1);
  color: #2f3239;
  width: 50%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: var(--text-em-2);
}

.code-block {
  row-gap: 0;
  align-items: center;
}

.select-all:hover {
  cursor: pointer;
  color: #000000;

  background-color: #9BDDFF;
}

.education-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  margin-bottom: 15px;
}

.education-title-img {
  width: 393px;
  height: 103.48px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.education-title-img:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.hr {
  border: 1px solid rgba(45, 48, 56, 0.3);
  margin-bottom: 15px;
}

.education-text {
  font-weight: 400;
  color: #2f3239;
  font-size: var(--text-section-description);
  line-height: 24px;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.portfolio-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #2f3239;
  font-size: 1.5rem;
}

.portfolio-text {
  font-size: var(--text-section-description);
  line-height: 24px;
  color: #2f3239;
}

.porfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}

.portfolio-item {
  max-width: 308.9px;
  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
  border:1px solid #cfcfcf;
  background-color: #ffffff;
  font: normal 14px sans-serif;
  border: 4px solid #ffffff;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  max-height: 180.5px;
  position: relative;
}

.portfolio-image {
  max-width: 654px;
  max-height: 175px;
}

.overlay {
  width: calc(100%);
  height: 100%;
  position: absolute;
  overflow: hidden;
  padding: 20px 20px 15px;
  top: 0;
  left: 0;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  opacity: 0;
  background-color: rgb(193, 130, 90);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  color: #fff;
  transform: translate(0px, -90px) rotate(0deg);
  text-align: justify;
}

.over-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.over-icon {
  width: 30px;
  height: 30px;
  opacity: 0.9;
}

.over-icon:hover {
  opacity: 0.7;
}

.portfolio-item:nth-child(2n) .overlay {
  background-color: rgba(70, 56, 47, 1);
}

.overlay-link {
  display: inline-block;
  text-decoration: none;
  padding: 7px 13px;
  background-color: #c93b59;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  border: 1px solid #c93b59;
}

.portfolio-item:hover .overlay{
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
}

.overlay-link:hover {
   background-color: rgba(201, 59, 89, 0.5);
   border-radius: 5px;
}

.overlay-title {
  font-size: 17px;
  color: #ffffff;
  border-bottom: 2px solid #c93b59;
}

.overlay-text {
  font-size: 12px;
  text-indent: 3px;
}

.home-title {
  font-size: 35px;
  font-family: sacramento, cursive;
}

.home-nickname {
  margin-top: 5px;
  font-size: 40px;
}

.home-text {
  font-size: 25.5px;
  font-weight: 300;
}

.home-container-img {
  max-width: 100%;
  height: auto;
}

.home-img {
  max-width: 800px;
  max-height: 613px;
}

.home-left-container-welcome {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 50px;
  width: 100%;
  justify-content: inherit;
}

.home-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 10px 0;
}

.git-link {
  width: 30px;
  height: 30px;
}

.git-link:hover {
    opacity: 0.7;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.home-left-container-links {
    padding: 0 10px;
    display: flex;
    column-gap: 5px;
}

.logo-avatar {
    width: 42px;
    height: 42px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.logo-title {
    font-family: sacramento, cursive;
    color: rgb(112, 110, 110);
    font-size: 28px;
    opacity: 0.9;
}

.logo-title:hover,
.logo-avatar:hover {
	transition: 1s;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    color: #ff4e00;
    z-index: 1;
}

.logo-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.home {
    column-gap: 0;
}

#btnTop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #2f3239;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

#btnTop:hover {
    background-color: #ff4e00;
}

.code-title {
    font-size: 50px;
}

.code-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.code-text {
    font-size: var(--text-section-description);
    display: flex;
    align-items: center;
    font-weight: 500;
}

.symbol-text {
    font-size: 46px;
}

.left-postition-text-symbol:hover .blue,
.title-base:hover .green,
.title-base:hover .red,
.title-base:hover .purple,
.title-base:hover .yellow,
.title-base:hover .lime,
.title-base:hover .logo-color{
    color: #ff4e00;
}

.center-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-base {
    font-size: var(--text-title);
    font-weight: 600;
}

.blue {
    color: #0e819b;
    font-size: 20px;
}

.green {
    color: rgb(126, 176, 63);
}

.red {
    color: #ed1c24;
}

.purple {
    color: #873e95;
}

.yellow {
    color: rgb(216, 202, 92);
}

.lime {
    color: rgb(145, 192, 116);
}

.logo-color {
    color: rgb(57, 52, 125);
}

.links-text {
    font-size: 16px;
    color: #ffffff;
}

.link-git {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: #ffffff;
    width: fit-content;
}

.link-git:hover {
    color: #2f3239;
}

.languages-switch {
    width: 50px;
    height: 30px;
    cursor: pointer;
    border: 1px solid rgba(47, 50, 57, .2);
}

.languages-switch:hover {
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

.left-postition-text-symbol {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.code .left-postition-text-symbol {
  column-gap: 3px;
}

.curly-bracket-start,
.curly-bracket-end {
  font-size: var(--text-em-2);
  display: flex;
  align-items: baseline;
}

.main-text {
  font-size: 13px;
}

.nav-item:nth-child(2):hover .curly-bracket-start,
.nav-item:nth-child(2):hover .curly-bracket-end {
  color: #c9643b;
}

.nav-item:first-child:hover .curly-bracket-start,
.nav-item:first-child:hover .curly-bracket-end {
  color: #c93b59;
}

.nav-item:nth-child(3):hover .curly-bracket-start,
.nav-item:nth-child(3):hover .curly-bracket-end {
  color: #7E9799;
}

.nav-item:nth-child(4):hover .curly-bracket-start,
.nav-item:nth-child(4):hover .curly-bracket-end {
  color: #3b59c9;
}

.nav-item:nth-child(5):hover .curly-bracket-start,
.nav-item:nth-child(5):hover .curly-bracket-end {
  color: #c11771;
}

.nav-item:nth-child(6):hover .curly-bracket-start,
.nav-item:nth-child(6):hover .curly-bracket-end {
  color: #3bc9ab;
}

.nav-item:nth-child(7):hover .curly-bracket-start,
.nav-item:nth-child(7):hover .curly-bracket-end {
  color: #DFAB0F;
}

.nav-item:last-child:hover .curly-bracket-start,
.nav-item:last-child:hover .curly-bracket-end {
  color: #ff971a;
}

.pop-up-shelter {
  display: none;
}

.pop-up-portfolio {
  display: none;
}

.pop-up-eco-sounds {
  display: none;
}

.pop-up-random-jokes {
  display: none;
}

.shadow {
  position: fixed;
	left: -100vw;
	top: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
}

.shadow-open {
	opacity: 1;
	left: 0;
}

.burger-menu {
  display: none;
  width: 35px;
  height: 30px;
  margin: 15px 10px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  right: 20%;
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 2px;
}

.burger-line {
  background-color:#fff;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 3px;
}

.rotate {
	transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.overflow {
 overflow: hidden;
}

@media screen and (max-width:1010px) {
  .header {
    display: block;
    padding-left: 30px;
  }
  .nav {
    z-index: 1;
  }
  .nav-list {
    width: 320px;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: -100%;
    transform: scaleX(0);
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: right 0;
  }
  .open {
    transform: scaleX(1);
  }
  .nav-item {
    width: 100%;
    padding: 0;
    height: calc(10vh);
  }
  .nav-item:hover {
    height: calc(10vh);
  }
  .nav-item:last-child {
    border-bottom-left-radius: 4px;
  }
  .nav-link {
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .text-anchor,
  .curly-bracket-start,
  .curly-bracket-end {
    font-size: 20px;
  }
  .logo {
    position: relative;
    left: 10%;
  }
  .burger-menu {
    display: inline-block;
  }
  .lines-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .home-img {
    width: 100%;
    height: 100%;
  }
  .right-container {
    width: 100%;
    padding: 0 80px;
  }
  .left-container {
    width: auto;
  }
  .home-container {
    width: 100%;
    padding: 0;
    align-items: flex-start;
  }
  .home-container-img {
    padding: 0 2rem;
  }
  .section {
    column-gap: 5px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    row-gap: 20px;
  }
  .home {
    width: 100%;
  }
  .home-left-container-welcome {
    height: 215px;
    width: 100%;
    padding-left: 80px;
  }
  .home-left-container-links {
    padding: 20px 0 0;
  }
  .languages {
    margin-bottom: 40px;
  }
  .porfolio-list {
    row-gap: 10px;
  }
  .portfolio-info {
    text-align: center;
  }
  .portfolio-item:focus .overlay{
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  .portfolio-item {
    max-width: 335.9px;
    max-height: 180.8px;
  }
  .main-container,
  .footer-container,
  .home-container {
    padding-left: 0;
  }
}

@media screen and (max-width: 619.98px) {
  .home-title {
    font-size: 30px;
  }
  .home-nickname {
    font-size: 35px;
  }
  .home-text {
    font-size: 22.5px;
  }
  .languages-switch {
    width: 37px;
    height: 25px;
  }
  .git-link {
    width: 25px;
    height: 25px;
  }
  .right-container {
    padding: 0 50px;
  }
  .home-left-container-welcome {
    padding-left: 60px;
  }
  .section:nth-child(1) {
    padding: 10px 0 40px;
  }
  .logo-title {
    display: none;
  }
  .title-base {
    font-size: var(--text-320-title);
  }
}

@media screen and (max-width: 485px) {
  .home-title {
    font-size: 22px;
  }
  .home-nickname {
    font-size: 30px;
  }
  .home-text {
    font-size: 19.5px;
  }
  .languages-switch {
    width: 29px;
    height: 20px;
  }
  .git-link {
    width: 20px;
    height: 20px;
  }
  .home-left-container-welcome {
    padding-left: 30px;
    height: 180px;
  }
  .right-container {
    padding: 0 20px;
  }
  .home-container-img {
    padding: 0;
  }
  .footer-container {
    font-size: var(--text-em);
  }
  .education-title-img {
    max-width: 90%;
    height: auto;
  }
  .select-all {
    width: 60%;
  }
  .portfolio-image {
    max-width: 272px;
    max-height: 153px;
  }
  .overlay {
    padding: 10px;
  }
  pre {
    font-size: var(--text-em-2);
  }
}

@media screen and (min-width: 0) and (max-width: 320px) {
  .section,
  .footer,
  .header {
    min-width: 320px;
  }
  .portfolio-item {
    min-width: 280px;
  }
}
